[Unit]
Description=MCCtl Minecraft server manager
After=network.target

[Service]
ExecStart=/usr/bin/mcctl init -c /usr/lib/mcctl/instances
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/mcctl shutdown
User=mcctl
WorkingDirectory=/usr/lib/mcctl

[Install]
WantedBy=multi-user.target
